<p class="u-text-xxl">
  <strong>Testo XXL (80px) </strong> The quick brown fox jumped over the lazy dog.
</p>
<p class="u-text-xl">
  <strong>Testo XL (36px) </strong> The quick brown fox jumped over the lazy dog.
</p>
<p class="u-text-l">
  <strong>Testo L (32px) </strong> The quick brown fox jumped over the lazy dog.
</p>
<p class="u-text-m">
  <strong>Testo M (26px) </strong> The quick brown fox jumped over the lazy dog.
</p>
<p class="u-text-s">
  <strong>Testo S (22px) </strong> The quick brown fox jumped over the lazy dog.
</p>
<p class="u-text-xs">
  <strong>Testo XS (11px) </strong> The quick brown fox jumped over the lazy dog.
</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, atque eligendi, adipisci officia, pariatur neque minus voluptate quo voluptatum corporis nesciunt temporibus praesentium id! Possimus voluptatum nostrum porro temporibus exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate numquam placeat cupiditate, rem nam harum quaerat reprehenderit atque similique adipisci distinctio eos quod. Odit delectus dolorem accusamus qui, exercitationem repudiandae.
</p>
