<p class="u-hidden-m">This text is hidden on mobile</p>
<p class="u-hidden-t">This text is hidden from tablet</p>
<p class="u-hidden-d">This text is hidden from desktop</p>
<p class="u-hidden-w">This text is hidden from wide</p>
