// *------------------------------------*
//    #BASE
// *------------------------------------*

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  min-width: 320px;
}

img {
  max-width: 100%;

  a > & {
    vertical-align: middle;
  }
}

ul {
  @include listreset;
}
