<form class="{{ styleModifier }}" action="">
  <fieldset class="">
    <label>First name<span>*</span></label>
    <input type="text" name="firstname" value="Mickey Mouse" placeholder="First">
  </fieldset>

  <fieldset class="">
    <label>Last name</label>
    <input type="text" name="lastname" placeholder="Last">
  </fieldset>

  <fieldset class="">
    <label>Password</label>
    <input type="password">
  </fieldset>

  <fieldset class="">
    <label>Phone</label>
    <input type="tel">
  </fieldset>

  <fieldset class="">
      <input type="radio" id="radio1" name="radiogroup" value="radio1">
      <label for="radio1">Radio 1</label>

      <input type="radio" id="radio2" name="radiogroup" value="radio2">
      <label for="radio2">Radio 2</label>
  </fieldset>

  <fieldset class="">
      <input type="checkbox" id="check1">
      <label for="check1">Check 1</label>

      <input type="checkbox" id="check2">
      <label for="check2">Check 2</label>

      <input type="checkbox" id="check3">
      <label for="check3">Check 3</label>
  </fieldset>

  <fieldset class="">
    <input type="number" name="quantity" min="1" max="5">
    <input type="month" name="bdaymonth">
    <input type="datetime-local" name="bdaytime">
    <input type="date" name="bday">
    <textarea name="textarea" form="usrform" placeholder="Place text here..."></textarea>
  </fieldset>

  <input class="c-button" type="submit" value="Send">
</form>
